/*******************************/
/********* General CSS *********/
/*******************************/



/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
    background: #ffffff;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    color: #f2c6c6;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    background: none;
    border: 2px solid #f2c6c6;
    transition: .3s;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #e4817a;
    color: #f2c6c6;
}

.portfolio .portfolio-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: .3s;
}

.portfolio .portfolio-item:hover {
    margin-top: -10px;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
    
}

.portfolio .portfolio-wrap a::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background: transparent;
    border: 1px solid #e4817a;
    transition: .3s;
    z-index: 1;
}

.portfolio .portfolio-wrap:hover a::after {
    border-color: #D5B981;
}

.portfolio img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

